{% extends "layout.html" %}
{% block title %}Dungeon{% endblock %}

{% block text %}
    <h1>You entered the dungeon.</h1>
    <p>Don't touch the leather stuff! Das nasty!</p>
{% endblock %}

{% block options %}
    <p>Creep into <del>Zelda's</del> your <a href="http://127.0.0.1:5000/castlebed?{{inv_as_query}}">bedroom</a>.</p>
    <p>Escape to the <a href="http://127.0.0.1:5000/castleyard?{{inv_as_query}}">courtyard</a>.</p>
    <p>Take <a href="http://127.0.0.1:5000/castledun?{{inv_as_query}}inv=Leather%20Mask&">leather mask</a>.</p>
    <p>Take <a href="http://127.0.0.1:5000/castledun?{{inv_as_query}}inv=Handcuffs&">handcuffs</a>.</p>
    <p>Take <a href="http://127.0.0.1:5000/castledun?{{inv_as_query}}inv=Peanut%20Butter&">peanut butter</a>.</p>
{% endblock %}

{% block inventory %}
    <p>Inventory: {{inv}}</p>
{% endblock %}