{% extends "layout.html" %}
{% block title %}Castle Yard{% endblock %}

{% block text %}
    <h1>You entered the castle's courtyard.</h1>
    <p>There's nothing of interest here. Brotastic adventures await elsewhere!</p>
{% endblock %}

{% block options %}
    <p><a href="http://127.0.0.1:5000/hyrulemarket?{{inv_as_query}}">Leave</a> the castle.</p>
    <p>Go to <del>Zelda's</del> your <a href="http://127.0.0.1:5000/castlebed?{{inv_as_query}}">bedroom</a>.</p>
    <p>Enter the <a href="http://127.0.0.1:5000/castledun?{{inv_as_query}}">dungeon</a>.</p>
{% endblock %}

{% block inventory %}
    <p>Inventory: {{inv}}</p>
{% endblock %}