<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="text">{% block text %}{% endblock %}</div>
        <hr>
        <div id="options">{% block options %}{% endblock %}</div>
        <hr>
        <div id="inventory">{% block inventory %}{% endblock %}</div>
        <hr>
        <!--<img src="/static/pics/ad6.jpg" alt="Click me, I'm an ad!" style="width:auto;height:auto;">-->
    </body>
</html>