<!--<!doctype html>
<html>
<head>
    <title>Workout done!</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1> Another hard workout done!</h1>
    <hr>
    <p> <a href="http://127.0.0.1:5000/hyrulemarket?{{inv_as_query}}">You leave the gym feeling a bit more swole.</a></p>
    <hr>
    <p>Inventory: {{inv}}</p>
</body>
</html>-->

{% extends "layout.html" %}
{% block title %}Workout done!{% endblock %}

{% block text %}
    <h1>Another hard workout done!</h1>
    <p>You should go see Zelda now. ( ͡° ͜ʖ ͡°)</p>
{% endblock %}

{% block options %}
    <p> <a href="http://127.0.0.1:5000/hyrulemarket?{{inv_as_query}}">You leave the gym feeling a bit more swole.</a></p>
{% endblock %}

{% block inventory %}
    <p>Inventory: {{inv}}</p>
{% endblock %}